.btn-add{
	float: left;
	padding:15px;
	border: none;
	background-color: blue;
}
.table{
	margin-left: -14px;
	margin-top: 20px;
	text-align: center;
	border: solid 2px aliceblue;
}
.table tr th{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color:#7da8c3 ;
	color: #2b542c;
}
.table td{
	 color: darkred;
 }
.table-information{
	text-align: left;
	border: solid 2px aliceblue;
}
.table-information th{
	background-color:#7da8c3 ;
	color: #2b542c;
	width: 40%;
}
.table-information td{
	color: darkred;
}
.reset-password{
	padding: 10px;
	border-radius: 20px;
	background-color: blue;
	color: white;
	text-align: center;
	margin-left: 130px;
}
#login{
	margin-top: 5%;
}
.delete{
	background-color: rgba(0,0,0,0);
	border: none;
	color: black;
}
.delete:hover{
	background-color: orangered;
}
.note-create{
	text-align: center;
}
.example{
	color: darkgray;
}
.stt{
	width: 5%;
}
